body{
    background-color: black;
    color: rgb(205, 224, 241);
}

.imagem__teste{
width: 200px;
height: 200px;
}
.container__static{
display: flex;
justify-content: center;
flex-direction: column;
}
.container__absolute{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.container__relative{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.container__fixed{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.container__sticky{
    flex-direction: column;
    display: flex;
    justify-content: center;  
}


