body{
    background-color: black;
    color: rgb(205, 224, 241);
    font-size: 2em;
}
span{
    font-weight: 400;
    text-shadow: 2px 2px 2px rgb(235, 65, 167);
}
.envelope{
    border: 2px solid rgb(235, 65, 167);
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.imagem__teste{
width: 200px;
height: 200px;
}
.container__static{
display: flex;
align-items: center;
flex-direction: column;
}
.container__absolute{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.container__relative{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container__fixed{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container__sticky{
    display: flex;
    align-items: center;
    flex-direction: column; 
}


